# Build outputs
.next
out/

# Dependencies
node_modules/

# Environment variables
.env.local
.env.*.local

# Debugging
node_modules/

# Vercel
.vercel/outputs
.vercel/analytics

# Turbopack
.turbopack

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
/build_output.txt